{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static '/CSS/bootstrap.css'%}">
    <style>
        .container {
            height: 100vh;
        }
    </style>
</head>

<body>
    <div class="container pt-5">
        <table class="table table-responsive-md" border="1" cellspacing="1" cellpadding="20">
            <tr>
                <th class="bg-primary text-white">Id</th>
                <th class="bg-primary text-white">Username</th>
                <th class="bg-primary text-white">Email</th>
                <th class="bg-primary text-white">Password</th>
                <th class="bg-primary text-white"></th>
                <th class="bg-primary text-white"></th>
            </tr>
            {% if data %}
            {% for i in data %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.username}}</td>
                <td>{{i.email}}</td>
                <td>{{i.password}}</td>
                <td>
                    <form action="{% url 'edit' pk=i.id   %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" id="submit" value="Edit" name="submit">
                        </form>
                </td>
                <td>
                    <form action="{% url 'delete' pk=i.id   %}" method="post">
                        {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="Delete" id="submit" name="submit">
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>
    <script src="{%static '/JavaScript/bootstrap.js'%}"></script>
</body>

</html>